* {
    margin: 0;
}

body {
    background-image: url("assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Open Sans", "Open Sans SemiBold", sans-serif;
}

.app {
    margin: 0 auto;
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    justify-content: flex-start;
}

.menu {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 100px;
    height: 100vh;
    flex-grow: 0;
    flex-shrink: 0;
}

.menu_inner {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.icon_block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 80px;
    margin-bottom: 20px;
}

.icon_block:first-child {
    padding-top: 30px;
}

.icon_block:last-child {
    margin-top: auto;
    padding-bottom: 30px;
}

.icon {
    height: 40px;
}

.selected {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.02);
}

.window {
    background: rgba(255, 255, 255, 0.1);
}

.background {
    width: 100%;
    position: fixed;
}

.main-block {
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    height: 100vh;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30px 0 0 30px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.02);
}

.nav-bar {
    display: flex;
    width: 100%;
    height: 80px;
    margin-top: 50px;
    align-items: center;
    justify-content: end;
    gap: 2vw;
}

.logo {
    display: flex;
    margin-right: auto;
    align-items: center;
    gap: 20px;
}

.logo p {
    white-space: nowrap;
    font-size: 24px;
    font-weight: 600;
    color: #454545;
}

.logo img {
    height: 32px;
    width: 32px;
}

.search-block {
    display: flex;
    justify-content: left;
    padding-left: 30px;
    max-width: 400px;
    width: 75%;
    min-width: 200px;
    height: 40px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.02);
    border-radius: 64px;
    align-items: center;
}

.search-block p {
    font-weight: 400;
    font-size: 20px;
}

.main-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.02);
}

.main-icon {
    max-height: 30px;
}

.main-site {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    align-content: stretch;
}

.main-site::-webkit-scrollbar {
    width: 0;
}

.main-site p {
    font-size: 24px;
    font-weight: 500;
    color: #454545;
}

.good-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center;
}

.good {
    width: 240px;
    height: 300px;
    overflow: auto;
    display: inline-block;
    justify-items: center;
    text-align: center;
}

.good-image {
    width: 210px;
    height: auto;
    display: inline-block;
    overflow: hidden;
}

.good-image img {
    width: 210px;
    height: auto;
}

.text-block {
    text-align: center;
    overflow: hidden;
    padding: 35px 20px 25px 20px;
    margin: -55px 0 0 0;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.02);
    x-border-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)) 30;
    x-border-width: 2px;
    x-border-style: solid;
    border-radius: 50px;

}

.text-block h2 {
    font-size: 20px;
    font-weight: 400;
}

.text-block p {
    margin-top: 5px;
    text-align: justify;
    font-size: 14px;
    font-weight: 200;
}